/* mobile */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://wallpapercave.com/wp/wp2903386.gif);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

overflow: scroll;

   
}
header{
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 90%;
} 


/* #form{
padding-top: 20px;
margin-bottom: 100px; */


/* }  */



h2{
    color:white;
    padding-top: 20px;
    font-size: 24px;
    width: auto;
    margin-bottom: 10px;
   
   
    
}


#thesearchbox{
    width: auto;
    height: 50px;
    color:white;
    background-color:white;
    font-size: 16px;
    border-radius: 20px;
    margin-top: -30px;
  
    
 
   
}

#button{

    width: auto;
    height: 50px;
    color:white;
    background-color: darkred;
    font-size: 24px;
    border-radius: 20px;
   
}



  
/* tablet */
@media screen and (min-width:560px){
    main{
        display: grid;
        grid-template-columns: 25% 75%;
    }
}

/* desktop */
@media screen and (min-width:760px) and (max-width:960px){
    main{
        display: grid;
        grid-template-columns: 25% 75%;
    }
}